body {
  animation-name: fade-in;
  animation-duration: 1s;
  background-size: cover;
  background: #f7f7f7;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 70px;
  color: #393e46;
  font-weight: bold;
  position: absolute;
  top: -8px;
  left: 490px;
  text-shadow: 0 3px 9px #929aab;
}



/*venue info*/
div > p {
  margin-top: 13px;
  margin-left: 13px;
  margin-right: 13px;
  color: #000000;
}

#venuePhoto {
  height: 115px;
  width: 240px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: bold;
}

/*class to add and remove to hide and show elements*/
.hidden {
  display: none;
}

#sideBar {
  position: absolute;
  top: 150px;
  left: 1000px;
  width: 265px;
  height: 450px;
  color: #393e46;
  background-color: #929aab38;
  border-radius: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
}

#musicPlayer {
  position: absolute;
  top: 150px;
  left: 10px;
  width: 265px;
  height: auto;
  border-radius: 5px;
  color: #393e46;
  background-color: #929aab38;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  animation-name: fade-in;
  animation-duration: 3s;
  position: absolute;
  height: 440px;
  width: 706px;
  position: absolute;
  left: 285px;
  top: 160px;
  border-radius: 3px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 5px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
}

#pac-input, #artistSearch {
  background: #eeeeee;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  position: absolute;
  top: 95px;
  left: 200px;
  border-radius: 5px;
}

#pac-input:focus {
  border-color: rgb(167, 167, 167);
  background: #e7e7e7;
}

.pac-container {
  font-family: 'Josefin Sans', sans-serif;
}

#type-selector {
  color: #fff;
  background-color: #bbded6;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

/*category dropdown menu*/
#categoryDropdown {
  position: absolute;
  left: 615px;
  top: 105px;
  width: 230px;
  background-color: #eeeeee;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  /*box-shadow: 0 2px 6px #d01aff;*/
}

/*for the dropdown calender */
#calendarForm {
  position: absolute;
  left: 850px;
  top: 95px;
}

#calendarBox {
  background-color: #eeeeee;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  /*box-shadow: 0 2px 6px #d01aff;*/
  width: 170px;
}

.form-row {
  padding: 5px 10px;
  margin: 5px 0;
}

label {
  display: block;
  margin: 3px 0;
}

.form-row input {
  width: 220px;
  padding: 3px 1px;
  border: 1px solid #ccc;
  box-shadow: none;
    border-radius: 5px;
}
.form-row input[type="checkbox"] {
  width: 15px;
}

.show-inputbtns .input-buttons {
  display: inline-block;
}

#buttons {
  position: absolute;
  top: 10px;
  left: 10px;
}

.btn-primary:focus {
  outline: none;
}

.btn-primary:active {
  outline: none;
}

/*recenter button*/
#reCenter {
  position: absolute;
  top: 45px;
  left: 0px;
}

/*clearSaved button*/
#clearSaved {
  position: absolute;
  left: 125px;
  top: 0px;
}

#find{
  position: absolute;
  left: 1050px;
  top: 103px;
}

#removeSelected {
  position: absolute;
  left: 240px;
  top: 0px;
}

#help {
  position: absolute;
  left: 1160%;
  top: 0px;
  background: #eeeeee;
  color: #393e46;
  border-color: #393e46;
  font-family: 'Josefin Sans', sans-serif;
}

#seeSavedShows, #got-it, #save-show, #audio-btn, #clearSaved, #removeSelected {
  background: #eeeeee;
  color: #393e46;
  border-color: #393e46;
  font-family: 'Josefin Sans', sans-serif;
}

#help:hover, #savedShows:hover, #got-it:hover, #save-show:hover, #audio-btn:hover, #clearSaved:hover, #removeSelected:hover {
  background: #e0e0e0;
}

#help:active, #savedShows:active, #got-it:active, #save-show:active, #audio-btn:active, #clearSaved:active, #removeSelected:active {
  outline: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#help-bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.555);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  animation-name: fade-in;
  animation-duration: 0.3s;
  display: flex;
  justify-content: end;
}

#close-sign {
  color: rgb(207, 207, 207);
  font-size: 50px;
  position: absolute;
  left: 94%;
  top: -15px;
  padding: 0px;
  cursor: pointer;
  padding: 0px;
  margin-right: 15px;
}

#close-sign:hover, #close-sign:active {
  color: white;
}

#help-child {
  position: absolute;
  z-index: 4;
  margin-left: 27%;
  margin-top: 60px;
  animation-name: fade-in;
  animation-duration: 0.6s;
  width: 600px;
  height: 530px;
  padding: 15px;
  padding-top: 5px;
  background: #eeeeeed7;
  border-radius: 5px;
}

h2 {
  font-size: 22px;
}

#help-info {
  color: #393e46;
  font-size: 17px;
  font-family: 'Josefin Sans', sans-serif;
}