<!DOCTYPE html>
<html>
<head>
  <title> ShowDown </title>
  <link rel="icon" href="band.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARBeGQnoeVANAG1vkdYM3Tw7v1JQxaZfQ&libraries=places&callback=initAutocomplete"

  
  async defer>  </script>
  <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
  <h1>ShowDown</h1>

    <div id = "MainWrap" ng-app="showDown" ng-controller="showDownController" align="center">

    <div id="buttons">
      <button type="submit" id="seeSavedShows" class="btn btn-primary"  style="float: left;" ng-click="seeSavedShows()">Saved Shows</button>
      <button type="submit" id="clearSaved" class="btn btn-primary"  style="float: left;" ng-show="savedMode"  ng-click="clearSaved()">Clear Saved</button>
      <button type="submit" id="removeSelected" class="btn btn-primary"  style="float: left;" ng-show="savedMode" ng-click="delete()">Remove Selected</button>
      <button type="submit" id="help" class="btn btn-primary"  style="float: right;" ng-click="showHelp = !showHelp">Help</button>
    </div>
        <input id="pac-input" class="controls" type="text" placeholder="Enter Location...">
        <input id="artistSearch" class="controls" type="text" placeholder="Enter Artist..." hidden>


        <select id="categoryDropdown" class="form-control" ng-model="category" ng-change="changeOptionSelected()">
          <option selected value = "City">Location</option>
          <option value = "Artist">Artist</option>
        </select>

        <form id="calendarForm" action="#" class="ws-validate">
          <div class="form-row show-inputbtns">
            <input id="calendarBox" type="date" data-date-inline-picker="false" data-date-open-on-focus="true" />
          </div>
        </form>

      <div id="sideBar" class="hidden">
        <img id="venuePhoto" src="band.ico"> 
        <p id="eventName"></p>
        <p id="eventTime"></p>
        <p id="venueName"></p>
        <p id="venueAddress"></p>
        <p id="venuePhone"></p>
        <p id="venueWebsite"></p>
        <button id="save-show" type="submit" class="btn btn-primary" ng-click="save()">Save</button>
      </div>

      <div id="help-bg" ng-show="showHelp" ng-click="showHelp = !showHelp"> 
        <p id="close-sign">x</p>
      </div>
      <div id="help-child" ng-show="showHelp"> 
        <strong id="help-info" > 
          <h2>Search for events by artist:</h2>
            <p>Type in an artist's full name and correct spelling and press enter. If no markers show up, either there were no upcoming shows for the artist, or the artist was not recognized.</p> 
          <h2>Search for events by city:</h2>
            <p>Start typing in a city, click the corresponding Google auto-fill in the drop-down, and press enter (or just press enter to auto-complete the first suggestion).</p>
          <h2>View show details:</h2>
            <p>Click on a marker to see details about the event. You'll be able to purchase a ticket and view the venue on the sidebar that will appear on the left. Oftentimes, you'll also be able to hear a preview of the artist's top track on the left if they're on spotify. </p>
          <h2>Save shows for later</h2>
            <p>To save an event, simply press a marker, and press the save button on the sidebar. You can view all your saved shows at once on the map by clicking the "Saved Shows" button on the top left. To remove all your shows, simply press "Clear Saved", otherwise you can select a show (by clicking its marker) and click "Remove Selected".</p>
        </strong>
        <button id="got-it" class="btn btn-primary" ng-click="showHelp = !showHelp">Got it!</button>
      </div>

      <!-- <div id="musicPlayer" class="hidden"></div> -->
      <div id="savedShows"></div>
    

  <div id="map"></div>
 
</body>
</html>
